.pdf-viewer-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto; /* Allow scrolling if needed */
  }
  
  .pagination-controls {
    position: fixed;
    top: 10px; /* Adjust distance from the top */
    right: 30px; /* Adjust distance from the right */
    background-color: #00000099;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    color: white
  }
  
  .pagination-controls button {
    margin: 0 5px;
  }

  .react-pdf__Page__annotations .linkAnnotation {
    border: none !important;
  }
  